[Desktop Entry]
Name=MmpCoin Core
Comment=Connect to the MmpCoin P2P Network
Comment[de]=Verbinde mit dem MmpCoin peer-to-peer Netzwerk
Comment[fr]=MmpCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MmpCoin, eşten eşe kriptografik sanal para birimi
Exec=mmpcoin-qt %u
Terminal=false
Type=Application
Icon=mmpcoin128
MimeType=x-scheme-handler/mmpcoin;
Categories=Office;Finance;
